

:root {
    --color-primary: rgb(97, 134, 189);
    --color-primary-darker: rgb(49, 92, 128);
    --color-primary-dark: hsl(204, 100%, 32%);
    --color-primary-lighter: azure;
    --color-primary-light: rgb(163, 173, 182);
    --color-input-focus: rgb(255, 255, 255);
    --color-input-focus-border: black;
}

.sidebar__inner{
    background-color: steelblue 
    ;
}
